<table class="c-about-table">
  <tbody class="c-about-table__body">
    <tr class="c-about-table__row">
      <%-include('./_c-about-table__head', {head:'会社名'}) %>
      <%-include('./_c-about-table__data', {data:'株式会社CodeUps'}) %>
    </tr>
    <tr class="c-about-table__row">
      <%-include('./_c-about-table__head', {head:'設立'}) %>
      <%-include('./_c-about-table__data', {data:'テキストが入ります。'}) %>
    </tr>
    <tr class="c-about-table__row">
      <%-include('./_c-about-table__head', {head:'資本金'}) %>
      <%-include('./_c-about-table__data', {data:'テキストが入ります。'}) %>
    </tr>
    <tr class="c-about-table__row">
      <%-include('./_c-about-table__head', {head:'売上高'}) %>
      <%-include('./_c-about-table__data', {data:'テキストが入ります。'}) %>
    </tr>
    <tr class="c-about-table__row">
      <%-include('./_c-about-table__head', {head:'代表者'}) %>
      <%-include('./_c-about-table__data', {data:'テキストが入ります。'}) %>
    </tr>
    <tr class="c-about-table__row">
      <%-include('./_c-about-table__head', {head:'従業員数'}) %>
      <%-include('./_c-about-table__data', {data:'テキストが入ります。'}) %>
    </tr>
    <tr class="c-about-table__row">
      <%-include('./_c-about-table__head', {head:'事業内容'}) %>
      <%-include('./_c-about-table__data',{data:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'})%>
    </tr>
    <tr class="c-about-table__row">
      <%-include('./_c-about-table__head', {head:'所在地'}) %>
      <%-include('./_c-about-table__data', {data:'東京駅'}) %>
    </tr>
  </tbody>
</table>
