<div class="p-blog-detail">
    <div class="p-blog-detail__wrap l-inner">
       
        <%- include('../parts/_c-blog-detail__title.ejs',{title:'タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。'}) %>

        <!-- ここにラベルコンポーネント入れる -->

        <picture class="p-blog-detail__img l-blog-detail-img__wrap">
            <source  srcset="../../images/common/blog-detail_pc.jpg" media="(min-width: 756px)"> 
            <img src="../../images/common/blog-detail_sp.jpg" alt="企業概要">
        </picture>

        <div class="l-blog-detail-text__wrap">
        <%- include('../parts/_c-blog-detail__text.ejs',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
        </div>

        <div class="l-blog-detail-head__wrap">
        <%- include('../parts/_c-blog-detail__head.ejs',{head:'見出し２'}) %>
        </div>

        <div class="l-blog-detail-text__wrap">
            <%- include('../parts/_c-blog-detail__text.ejs',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
        </div>

        <div class="l-blog-detail-head__wrap">
            <%- include('../parts/_c-blog-detail__subHead.ejs',{head:'見出し3見出し3見出し3'}) %>
        </div>

        <div class="l-blog-detail-text__wrap">
            <%- include('../parts/_c-blog-detail__text.ejs',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
        </div>

        <picture class="p-blog-detail__img l-blog-detail-img__wrap">
            <source  srcset="../../images/common/blog-detail-02_pc.jpg" media="(min-width: 756px)"> 
            <img src="../../images/common/blog-detail-02_sp.jpg" alt="企業概要">
        </picture>

        <div class="l-blog-detail-text__wrap">
            <%- include('../parts/_c-blog-detail__list--disc.ejs',{item:'リストが入ります。リストが入ります。リストが入ります。リストが入ります。'}) %>
        </div>

        <div class="l-blog-detail-text__wrap">
            <%- include('../parts/_c-blog-detail__list--decimal.ejs',{item:'リストが入ります。リストが入ります。リストが入ります。リストが入ります。'}) %>
        </div>



    </div>
</div>