<div class="p-blog-items">
    <div class="p-blog__item p-blog__item--new" data-group="1">
      <%-include('./_c-blog-item',
      {category:'カテゴリ１',img:'blog_1.jpg',name:"CodeUps株式会社"}) %>
    </div>
  
    <div class="p-blog__item" data-group="1">
      <%-include('./_c-blog-item',
      {category:'カテゴリ１',img:'blog_2.jpg',name:"CodeUps株式会社"}) %>
    </div>
  
    <div class="p-blog__item" data-group="2">
      <%-include('./_c-blog-item',
      {category:'カテゴリ２',img:'blog_3.jpg',name:"CodeUps株式会社"}) %>
    </div>
  
    <div class="p-blog__item" data-group="2">
      <%-include('./_c-blog-item',
      {category:'カテゴリ２',img:'blog_4.jpg',name:"CodeUps株式会社"}) %>
    </div>
  
    <div class="p-blog__item" data-group="2">
      <%-include('./_c-blog-item',
      {category:'カテゴリ２',img:'blog_5.jpg',name:"CodeUps株式会社"}) %>
    </div>
  
    <div class="p-blog__item" data-group="3">
      <%-include('./_c-blog-item',
      {category:'カテゴリ３',img:'blog_6.jpg',name:"CodeUps株式会社"}) %>
    </div>
  
    <div class="p-blog__item" data-group="3">
      <%-include('./_c-blog-item',
      {category:'カテゴリ３',img:'blog_7.jpg',name:"CodeUps株式会社"}) %>
    </div>
  
    <div class="p-blog__item" data-group="3">
      <%-include('./_c-blog-item',
      {category:'カテゴリ３',img:'blog_8.jpg',name:"CodeUps株式会社"}) %>
    </div>
  
    <div class="p-blog__item" data-group="3">
      <%-include('./_c-blog-item',
      {category:'カテゴリ３',img:'blog_9.jpg',name:"CodeUps株式会社"}) %>
    </div>
  </div>