<div class="p-works__items">
  <div class="l-works__item-wrap">
    <%-include('./_c-works__item',
    {category:'カテゴリ１',img:'works_1.png',name:"CodeUps株式会社"}) %>
  </div>
  <div class="l-works__item-wrap">
    <%-include('./_c-works__item',
    {category:'カテゴリ１',img:'works_2.png',name:"CodeUps株式会社"}) %>
  </div>
  <div class="l-works__item-wrap">
    <%-include('./_c-works__item',
    {category:'カテゴリ１',img:'works_3.png',name:"CodeUps株式会社"}) %>
  </div>
  <div class="l-works__item-wrap">
    <%-include('./_c-works__item',
    {category:'カテゴリ１',img:'works_4.png',name:"CodeUps株式会社"}) %>
  </div>
  <div class="l-works__item-wrap">
    <%-include('./_c-works__item',
    {category:'カテゴリ１',img:'works_5.png',name:"CodeUps株式会社"}) %>
  </div>
  <div class="l-works__item-wrap">
    <%-include('./_c-works__item',
    {category:'カテゴリ１',img:'works_6.png',name:"CodeUps株式会社"}) %>
  </div>
</div>
