<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>

      <section class="l-about sublayer">
        <%- include('./parts/_c-subFV', {pageTitle:'企業概要'}) %>
      </section>

      <%- include('./parts/_c-breadcrumb-list' ,{breadcrumb:'企業概要'}) %>

    <%- include('./common/_footer') %>

  </body>
</html>
