<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>

      <section class="l-blog sublayer">
        <%- include('./parts/_c-subFV', {pageTitle:'ブログ'}) %>
      </section>

      <!-- パンくずリスト(breadcrumb-list)  -->
      <%- include('./parts/_c-breadcrumb-list' ,{breadcrumb:'ブログ'}) %>





      <!-- スライド()  -->
      <!-- <%- include('./parts/_c-slick-sample') %> -->

        <%- include('./common/_footer') %>

  </body>

</html>