<!DOCTYPE html>
<html lang="ja">

<%- include('./common/_head') %>

  <body>
    <div style="background-color: #000" class="bg">
      <%- include('./common/_header') %>
        <div class="l-test-inner">
        <%- include('./parts/_p-works__items') %>
        </div>

        <!-- blog-cards yuuki -->
        <%- include('./parts/_p-cards') %>
        <!-- contact-section yuuki -->
        <%- include('./parts/_p-contact-section') %>
        <!-- パンくずリスト(breadcrumb-list) yuuki -->
        <%- include('./parts/_c-breadcrumb-list') %>

        <!-- c-section-title-gold yuuki -->
        <%- include('./parts/_c-section-title-logo') %>

        <!-- _c-btn-article yuuki -->
        <%- include('./parts/_c-btn-article') %>

        <!-- _c-btn-article yuuki -->
        <%- include('./parts/_p-contact-form') %>


        <%- include('./common/_footer') %>
    </div>

  </body>

</html>