<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
    <!-- <%- include('./parts/_c-btn',{text:'ボタンだよ〜', link:'#'}) %> -->
    <!-- ページネーション表示テスト用（後で消す） -->
    <!-- <%- include('./parts/_c-pagination') %>
      <%- include('./parts/_c-pagination-simple') %> -->

    <!-- Swiper表示テスト用（後で消す） -->
    <%- include('./parts/_c-swiper') %>

    <!-- Google Map表示テスト用（後で消す） -->
    <!-- <%- include('./parts/_c-map') %> -->

    <%- include('./common/_footer') %>

    <!-- <script src="../js/swiper.js"></script> -->
  </body>
</html>
