<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_top-header') %>
      <!-- <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %> -->
    <%- include('./common/_footer') %>

    <!-- ページネーション表示テスト用（後で消す） -->
    <%- include('./parts/_c-pagination') %>
    <%- include('./parts/_c-pagination-simple') %>

    <!-- <% for (var i=0; i < 4; i++) { %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
      <% } %> -->


  </body>
</html>
