<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <div style="background-color: #333" class="bg">
      <%- include('./common/_header') %> <%-
      include('./parts/_c-btn',{text:'ボタンだよ〜', link:'#'}) %>
      <!-- <%-
      include('./parts/_c-section-title', {title:'セクションタイトルだよ'}) %> -->
      <%- include('./parts/_p-news__articles') %>

      <!-- <%- include('./parts/_c-business__title', {title:'タイトル'}) %> -->

      <!-- blog-cards yuuki -->
      <%- include('./parts/_p-cards') %>
    

      <%- include('./common/_footer') %>
    </div>
    
  </body>
</html>
