<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <div style="background-color:#333;" class="bg">
    <%- include('./common/_top-header') %>
      <%- include('./parts/_c-btn',{text:'ボタンだよ〜', link:'#'}) %>
      <%- include('./parts/_c-section-title', {title:'セクションタイトルだよ'}) %>
    <%- include('./common/_footer') %>

    <!-- ページネーション表示テスト用（後で消す） -->
    <%- include('./parts/_c-pagination') %>
    <%- include('./parts/_c-pagination-simple') %>
    <%- include('./parts/_c-swiper') %>
    <%- include('./parts/_c-map') %>
        <!-- 下層ページFV -->
    <section class="l-news sublayer">
      <%- include('./parts/_c-subFV', {pageTitle:'お知らせ'}) %>
    </section>
    <section class="l-business sublayer">
      <%- include('./parts/_c-subFV', {pageTitle:'事業内容'}) %>
    </section>
    <section class="l-works sublayer">
      <%- include('./parts/_c-subFV', {pageTitle:'制作実績'}) %>
    </section>
    <section class="l-about sublayer">
      <%- include('./parts/_c-subFV', {pageTitle:'企業概要'}) %>
    </section>
    <section class="l-blog sublayer">
      <%- include('./parts/_c-subFV', {pageTitle:'ブログ'}) %>
    </section>
    <section class="l-contact sublayer">
      <%- include('./parts/_c-subFV', {pageTitle:'お問い合わせ'}) %>
    </section>

    <!-- <% for (var i=0; i < 4; i++) { %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
      <% } %> -->
    </div>
  <script>
    <%- include('../js/swiper.js') %>
  </script>
  </body>
</html>
