<!DOCTYPE html>
<html lang="ja">

<%- include('./common/_head') %>

  <body>
    <div style="background-color: #000" class="bg">
      <%- include('./common/_header') %>
        <div class="l-test-inner">
        <%- include('./parts/_p-works__items') %>
        </div>
        
        <%- include('./parts/_p-top-work') %>
        <%- include('./parts/_p-top-workRev') %>
    
        <%- include('./common/_footer') %>
    </div>

  </body>

</html>