<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
        <%
          const blogInfo = {
            date: '2020.07.20',
            category: 'カテゴリ2',
            link: '#',
            text: '記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。',
            textdouble: '記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'
          }
        %>

        <section class="l-news sublayer p-news">
            <%- include('./parts/_c-subFV', {pageTitle:'お知らせ'}) %>

            <%- include('./parts/_c-breadcrumb-list') %>

            <div class="p-news__wrap">
              <% for (var i = 0; i < 10; i++) { %>
                <%- include('./parts/_c-news__infomation', {meta: blogInfo, count: i}) %>
              <% } %>
  
              <%- include('./parts/_c-pagination') %>
            </div>

        </section>

        <%- include('./parts/_p-contact-section') %>

    <%- include('./common/_footer') %>

  </body>
</html>
