<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>
      <section class="l-news sublayer">
        <%- include('./parts/_c-subFV', {pageTitle:'お知らせ'}) %>
      </section>

      <%- include('./parts/_c-breadcrumb-list' ,{breadcrumb:'お知らせ'}) %>

        <%- include('./common/_footer') %>

  </body>

</html>