<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>
      <% const blogInfo={ date: '2020.07.20' , category: 'カテゴリ2' , link: '#' , text: '記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。' , textdouble: '記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。' } %>

        <section class="l-news sublayer p-news">
          <%- include('./parts/_c-subFV', {pageTitle:'お知らせ'}) %>

          <%- include('./parts/_c-breadcrumb-list' ,{breadcrumb:'お知らせ'}) %>

            <div class="p-news__wrap">
              <% for (var i=0; i < 10; i++) { %>
                <div class="p-news__item">
                <%- include('./parts/_p-news-infomation') %>
                </div>
              <% } %>
              <%- include('./parts/_c-pagination') %>
            </div>
        </section>

        <%- include('./parts/_p-contact-section') %>
        <%- include('./common/_footer') %>
        <%- include('./parts/_c-btn-pageTop') %>
  </body>
</html>
