<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
      <section class="l-works sublayer">
        <%- include('./parts/_c-subFV', {pageTitle:'制作実績'}) %>
      </section>

      <%- include('./parts/_c-slick-sample') %>


    <%- include('./common/_footer') %>

  </body>
</html>
