<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>

    <section class="l-works sublayer p-works">
      <%- include('./parts/_c-subFV', {pageTitle:'制作実績'}) %>

      <div class="p-works__wrap">
        <%- include('./parts/_c-breadcrumb-list' ,{breadcrumb:'制作実績'}) %>
        <%- include('./parts/_c-grouping') %> 
        <%- include('./parts/_p-works-items') %>
      </div>

      <div class="p-works__pagenation">
        <%- include('./parts/_c-pagination') %>
      </div>

    </section>

    <%- include('./parts/_p-contact-section') %>
    <%- include('./common/_footer') %>
    <%- include('./parts/_c-btn-pageTop') %>

    <script>
      var searchItem = ".search__item"; //絞り込み項目を選択するエリア
      var listItem = ".p-works__item"; //絞り込み対象のアイテム
      var hideClass = "is-hide"; //絞り込み対象外の場合に付与されるclass名
      var activeClass = "is-active"; //選択中のグループに付与されるclass名

      $(function () {
        //絞り込みを変更した時
        $(searchItem).on("click", function () {
          $(searchItem).removeClass(activeClass);
          var group = $(this).addClass(activeClass).data("group");
          search_filter(group);
        });
      });

      function search_filter(group) {
        //非表示状態を解除
        $(listItem).removeClass(hideClass);
        //値が空の場合はすべて表示
        if (group === "") {
          return;
        }
        //リスト内の各アイテムをチェック
        for (var i = 0; i < $(listItem).length; i++) {
          //アイテムに設定している項目を取得
          var itemData = $(listItem).eq(i).data("group");
          //絞り込み対象がどうかを調べる
          if (itemData !== group) {
            $(listItem).eq(i).addClass(hideClass);
          }
        }
      }
    </script>
  </body>
</html>
