<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>

    <section class="l-works sublayer p-works">
      <%- include('./parts/_c-subFV', {pageTitle:'制作実績'}) %>

      <div class="p-works__wrap">
        <div class="p-works__head">
          <%- include('./parts/_c-breadcrumb-list' ,{breadcrumb:'制作実績'}) %>
          <%- include('./parts/_c-grouping') %>
        </div>
        <%- include('./parts/_p-works-items') %>
      </div>

      <div class="p-works__pagenation">
        <%- include('./parts/_c-pagination') %>
      </div>
    </section>

    <%- include('./parts/_p-contact-section') %> <%- include('./common/_footer')
    %> <%- include('./parts/_c-btn-pageTop') %>
  </body>
</html>
